html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

* ::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #342628;
  background-color: #f7f4ef;
}

.btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 4;
}

.btnimg {
  width: 2rem;
}

.img {
  align-items: center;
  width: 4.375rem;
}

.listimg {
  align-items: center;
  width: 1.3125rem;

  &-menu {
    align-items: center;
    width: 1.3125rem;
  }
}

.bottomicon {
  align-items: center;
  width: 2.1rem;
}

.list_text-il:hover {
  color: #788402;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;

  /* width: 100% */
  left: 0;
  z-index: 3;
  align-items: center;
  padding: 8px 1.0625rem;
  background-color: #f7f4ef;
  box-shadow: 0 17px 20px -18px rgb(52 38 40 / 20%);

  /* 생략 */

  &_top {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25rem;
    align-items: center;
    justify-content: space-around;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (width >= 800px) {
    #listimg-menu {
      display: none;
    }
  }
  @media screen and (width <= 800px) {
    &_list-icon {
      display: none;
    }

    #listimg-menu {
      display: visible;
      width: 1.3125rem;
    }
  }
}

.container {
  width: 100%;
  margin-top: 6.57rem;
}

.slideimg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.slide {
  /* position */

  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* layout */
  display: flex;
  flex-wrap: nowrap;

  /* size */
  width: 100%;

  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_item {
  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0;

  /* layout */
  display: flex;

  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  /* size */
  width: 100%;
  height: 500px;

  /* transition */
  transition: left 0.15s;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_button {
  /* position */
  position: absolute;

  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* size */
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #cccc;

  /* style */
  border-radius: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_prev_button {
  left: 10px;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
/* stylelint-disable-next-line selector-class-pattern */
.slide_item.item1 {
  background-color: #f7f4ef;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_item.item2 {
  background-color: #f7f4ef;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_item.item3 {
  background-color: #f7f4ef;
}

/* 페이지네이션 스타일 */
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_pagination {
  /* position */
  position: absolute;
  bottom: 0;

  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;

  /* layout */
  display: flex;
  gap: 5px;
  transform: translateX(-50%);
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_pagination > li {
  font-size: 35px;

  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #342628;
  cursor: pointer;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #788402;
}

/* stylelint-disable-next-line selector-class-pattern */
.slide_item_duplicate {
  position: relative;
  left: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  transition: left 0.15s;
}

.section {
  display: grid;
  grid-template-rows: repeat(2, 650px);
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-columns: 15rem;
  gap: 4rem 4rem;
  justify-content: center;

  //grid-template-rows: auto;
  //grid-template-columns: 1fr 1fr;
  width: fit-content;
  height: fit-content;
  padding: 10rem 0;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.item1 {
  &_text {
    margin-top: 1.5rem;
  }
}

.card {
  margin-inline: 5rem;
  overflow: hidden;
}

.cadd img {
  object-fit: cover;

  /* hover 뒤 애니메이션 */
  transition: transform 0.5s; /* 시간 설정 */
  transform: scale(1); /* 이미지 확대 */
}

.card img:hover {
  /* hover 시 애니메이션 */
  transition: transform 0.5s; /* 시간 설정 */
  transform: scale(1.1); /* 이미지 확대 */
}

.subtitle {
  padding-bottom: 1.875rem;
  padding-left: 1rem;
  font-size: 0;
  font-weight: 400;
}

.footer {
  padding: 5rem 3.125rem 3rem;
  font-weight: 500;
  color: #f7f4ef;
  background-color: #342628;

  &_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &_hlicon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 0;
    margin-top: 4rem;
    margin-left: 78rem;
  }
}

.memebtn {
  background-color: #342628;
}

.lefttext_2 {
  font-size: 1.25rem;
}

.text {
  font-size: 0.9375rem;
  font-weight: 400;
}
